{% extends "shortener/base.html" %}

{% block content %}

<div class="col-md-8 ">
    <div class="card-body">
        <h2>Profile: {{ customer.user.username }}</h2>

        <h5>Your URL history:</h5>
        {% for url in urls %}
        <div class="card text-center m-3">
            <div class="card-header">
                Origin URL: {{ url.origin_url }}
            </div>
            <div class="card-body">
                <h5 class="card-title">Short_url: {{ site_url }}/{{ url.short_url }} </h5>
            </div>
            <div class="card-footer text-muted">
                Pub date: {{ url.pub_date|date:"Y-m-d H:i" }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
